# 默认忽略的文件
/Class Materials/Root/Tutorial group B2
/Class Materials/Root/Tutorial group B1
/Videos
/Materials/Root/Tutorial group B2/Week 7/07032020_part2.mp4
/Materials/Root/Tutorial group B2/Week 7/07032020_part1.mp4
/Materials/Root/Tutorial group B2/Week 6/zoom_1.mp4
/Materials/Root/Tutorial group B2/Week 6/zoom_0.mp4
/Materials/Root/Remedial/Final Remedial 20 March/zoom_0.mp4
/Materials/Root/Tutorial Group B1
